# Frontend React
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/app-selectores/node_modules
/frontend/app-selectores/.pnp
/frontend/app-selectores/.pnp.js

# testing
/frontend/app-selectores/coverage

# production
/frontend/app-selectores/build

# misc
/frontend/app-selectores/.DS_Store
/frontend/app-selectores/.env.local
/frontend/app-selectores/.env.development.local
/frontend/app-selectores/.env.test.local
/frontend/app-selectores/.env.production.local

/frontend/app-selectores/npm-debug.log*
/frontend/app-selectores/yarn-debug.log*
/frontend/app-selectores/yarn-error.log*

# Backend Node
/backend/node_modules